body{
  background-color: rgba(0,0,0,0.05);
  margin: 0;
  padding: 0;
}
.header {
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: rgba(104,142,35,0.8);
  display: flex;
  text-align: center;
  box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.2);
}
.header .title{
  text-align: left;
  /* border: 1px solid black; */
  padding-top: 18px;
  padding-left: 10%;
  flex-grow: 1.8;
  font-size: 30px;
  font-weight: 600;
}
.sub_title{
  /* border: 1px solid black; */
  padding: 23px 20px 22px 20px;
  margin: 0 5px 0 5px;
  flex-grow: 0.3;
  font-size: 20px;
  font-weight: 600;
}
.header .login_area{
  /* border: 1px solid black; */
  padding-top: 23px;
  flex-grow: 0.5;
}
a#header_text:link {
  /* color: rgba(0,0,0,0.8); */
  color: rgba(255,255,255,1);
  text-decoration: none;
}
a#header_text:visited {
  /* color: rgba(0,0,0,0.8); */
  color: rgba(255,255,255,1);
  text-decoration: none;
}
.login_area .login_icon{
  display: inline-block;
  color: rgba(255,255,255,1);
  border-radius: 3px;
  font-size: 13px;
  background-color: red;
  padding: 3px 8px 3px 8px;
}
.main{
  /* border: 1px solid yellow; */
  padding: 0 80px 80px 80px;
}
.main .index_title{
  display: inline-block;
  background-color: rgba(23,121,11,0.5);
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  margin-top: 5%;
  margin-bottom: 4%;
  color: rgba(255,255,255,1);
  font-size: 25px;
  font-weight: 600;
  float: left;
}
.main .add_button{
  display: inline-block;
  background-color: rgba(255,255,255,0.8);
  border-radius: 5px;
  padding: 7px 10px 6px 10px;
  margin-top: 8%;
  color: rgba(0,0,0,0.8);
  font-size: 16px;
  font-weight: 600;
  float: right;
}
.main .main_all{
  clear: both;
  background-color: rgba(1,1,1,0.1);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.4) inset,0px 0px 5px rgba(200,200,200,0.5);
  border-radius: 5px;
  min-height: 500px;
  padding: 10px 20px 20px 20px;
}
.main_all .main_sub{
  height: 230px;
  padding: 20px;
}
.main_sub .sub_content{
  /* border: 1px solid red; */
  height: 85%;
  display: flex;
}
.sub_content .sub_book{
  flex-grow: 1;
  border: 0.5px solid rgba(0,0,0,0.3);
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.4);
  margin: 20px 25px 20px 25px;
}
.main_sub .sub_footer{
  background-color: #CDAD78;
  border: 0.5px solid rgba(160,82,45,0.4);
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.4);
  height: 11%;
}

.footer{
  border: 1px solid black;
  height: 100px;
}
