.login_background{
  display: none;
  z-index: 10;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.7);
}
.login_background .login_box{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  right: 0;
  width: 30%;
  background-color: rgba(255,255,255,1);
}
.login_box .login_header{
  border-bottom: 1px solid rgba(0,0,0,1);
  height: 40px;
  padding: 20px 20px 0 20px;
  font-size: 20px;
  font-weight: 600;
}
.login_header .login_header_text{
  float: left;
}
.login_header .login_header_icon{
  float: right;
}
a#login_icon:link{
  text-decoration: none;
}
a#login_icon:visited{
  text-decoration: none;
}
a#login_detail_icon:link{
  text-decoration: none;
  color: black;
}
a#login_detail_icon:visited{
  text-decoration: none;
  color: black;
}
a#login_close:link {
  color: black;
}
a#login_close:visited {
  color: black;
}
a#sign_up_link:link {
  text-decoration: none;
  color: black;
}
a#sign_up_link:visited {
  text-decoration: none;
  color: black;
}
a#sign_up_link:hover{
  text-decoration: underline;
}
.login_box .input{
  border: 1.5px solid rgba(0,0,0,0.7);
  height: 40px;
  width: 87%;
  padding-left: 5px;
  margin: 3% 5% 0 5%;
}
.id_check{
  text-align: left;
  width: 230px;
  height: 22px;
  margin-left: 20px;
  margin-top: 15px;
  font-size: 13px;
  font-weight: 500;
}
#content_checkbox{
  float: left;
  margin-top: 3px;
}
.id_check #id_checkbox{
  display: none;
}
input[type=checkbox]+ label:before {
  float:left;
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 7px;
    position: relative;
    left: 0;
    background-color: rgba(0,0,0,0.1);
    border-radius: 2px;
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .3);
}
input[type=checkbox]:checked + label:before {
    content: "\2713";  /* 체크모양 */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 18px;
    font-weight:800;
    color: rgba(255,255,255,1);
    background-color: rgba(0,0,0,0.3);
    text-align: center;
}
.login_box .submit{
  border: 1px solid black;
  border-radius: 4px;
  height: 29px;
  width: 88%;
  padding-top: 11px;
  padding-left: 5px;
  margin: 25px 5% 0 5%;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
}
.login_box .sign_up_box{
  font-size: 13px;
  margin-top: 20px;
  margin-left: 20px;
}
.sign_up_box #sign_up_text{
  margin-left: 3px;
  font-size: 14px;
  font-weight: 600;
}
