body{
  /* background: linear-gradient(to bottom, #eacda3 50%, #FDD692); */
  /* background-color: #eacda3; */
  background-color: rgba(0,0,0,0.05);
  margin: 0;
  padding: 0;
}
.header {
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: rgba(255,165,0,0.8);
  display: flex;
  text-align: center;
  box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.2);
}
.header .title{
  text-align: left;
  /* border: 1px solid black; */
  padding-top: 18px;
  padding-left: 10%;
  flex-grow: 1.8;
  font-size: 30px;
  font-weight: 600;
}
.sub_title{
  /* border: 1px solid black; */
  padding: 23px 20px 22px 20px;
  margin: 0 5px 0 5px;
  flex-grow: 0.3;
  font-size: 20px;
  font-weight: 600;
}
.header .login_area{
  /* border: 1px solid black; */
  padding-top: 23px;
  flex-grow: 0.5;
}
a#header_text:link {
  /* color: rgba(0,0,0,0.8); */
  color: rgba(255,255,255,1);
  text-decoration: none;
}
a#header_text:visited {
  /* color: rgba(0,0,0,0.8); */
  color: rgba(255,255,255,1);
  text-decoration: none;
}
.login_area .login_icon{
  display: inline-block;
  color: rgba(255,255,255,1);
  border-radius: 3px;
  font-size: 13px;
  background-color: red;
  padding: 3px 8px 3px 8px;
}
.main{
  /* border: 1px solid yellow; */
  padding: 0px 80px 120px 80px;
}
.main .index_title{
  display: inline-block;
  background-color: rgba(23,121,11,0.5);
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  margin-top: 5%;
  margin-bottom: 4%;
  color: white;
  font-size: 25px;
  font-weight: 600;
}
.main .date{
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: rgba(0,0,0,0.75);
  text-align: center;
  margin-bottom: 20px;
}
.main .list_all{
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  min-height: 500px;
  display: flex;
  flex-direction: row;
}
.list_all .list_box{
  border-left: 1px solid black;
  padding-bottom: 20px;
  flex-grow: 1;
}
.list_box .list_date{
  border-bottom: 1px solid black;
  height: 24px;
  text-align: center;
  padding-top: 7px;
}
.list_box .list_content{
  border: 1px solid white;
  background-color: rgba(0,0,0,0.2);
  border-radius: 5px;
  min-height: 130px;
  margin: 20px 15px 0px 15px;
}
.footer{
  border: 1px solid black;
  height: 100px;
}
